<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <div class="email-wrap">
        <ul>
            <P>Estos son los datos de tu reserva</P>
            <li>{{ nombre }}</li>
            <li>{{apellido}}</li>
            <li>{{cedula}}</li>
            <li>{{hora}}</li>
            <li>{{fecha}}</li>
            <li>{{zona}}</li>
            <p>Estimado cliente dispone de su mesa por 15minutos despues de la hora de reserva</p>
        </ul>
    </div>
</body>

</html>